<div class="flex-container-full">

    <div id="controller-tips" class="center-text rotate-landscape">

        <h1 class="mid-font darkblue">TO BEGIN YOUR QUEST</h1>
        <p class="mid-font white">1. Lock your phone's orientation.</p>
        <p class="mid-font white">2. Hold your phone parallel to the ground.</p>
        <button id="btnReady" class="button-pulse">READY</button>

    </div>

    <div id="controller-controls" class="hidden rotate-landscape center-text">

        <p id="time" class="no-margin huge-font white">3:00</p>
        <img id="twilio-logo" class="hidden auto-size" src="../imgs/twilio_logo.png">
        <a id="btnLearnAbout" class="block buttonish mid-width center-margin"
            href="https://www.twilio.com/docs/sync">LEARN ABOUT SYNC</a>
        <button id="btnPause" class="button button-pulse double-top-margin smaller-font lightblue">(PAUSE)</button>

    </div>

</div>

<script>
    const phoneNumber = {{{ phoneNumber }}};
</script>